* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body{
    background-color:#e6f2e7;
}

.main-container{
    display: flex;
    margin: 0 2%; 
}

.main-container > div{
    padding:3%;
    border-radius: 25px;
    height: 650px;    
    background-color:rgba(219, 219, 219, 0.959);
}

.main-container > div:first-child{
    width: 55%;
}

.main-container > div:nth-child(2){
    margin-left:3%;
    width:42%;
    padding:0px;
}

.left-tools-top{
    display: flex;
    justify-content: space-between;
}

.left-tools-top > div {
    width:20%;
}

.left-tools-top button{
    display:flex;
    justify-content: space-around;
    border:none;
    width:100%;
    height: 100%;
    padding:10%;
    border-radius:25px;
    cursor:pointer;
    background:none;
    outline:none;
    animation: moveRight 1s ease-in
}

.left-tools-top button:hover{
    background-color:white;
}



.left-tools-top button .tool-text{
    font-size:9px;
    position: relative;
    top:10px;
}

.left-tools-top button img{
    position: relative;
}

.editor{
    height:70%;
    background-color: white;
    width:60%;
    margin: 5% 25% 5% 20%;
    box-shadow: 6px 10px 25px -10px rgba(0,0,0,.46); ;
    animation: moveCenter 1s ease-in
}

.main-container  #bottom button{
    background-color: #54a9ff;
    color:white;
    font-size:9px;
    padding:2px;
}

.main-container  #bottom button:hover{
    background-color: #0055ff;
}

.main-container  #bottom  #last-btn{
    background-color: #0055ff;
}


/* 
*********************************************************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
*/

/* FOR SECOND BOX */

.header{
    display:flex;
    justify-content: center;
}

.header > h5{
    margin:5%;
    font-size:12px;
    font-weight: bolder;
}

.header > h5 button{
    background: none;
    border:none;
    padding:3px;
}

.right-tools-top{
    display:flex;
    justify-content: space-around;
}

.right-tools-top button{
    background-color: #e5f7e1;
    font-size:10px;
    padding:20px 10px;
    border:none;
    outline:none;
    border-radius: 10px 10px 0 0;
    cursor:pointer;
}

.edit-box-container div{
    display: none;
}

.edit-box-container div.edit-box1{
    display:block;
    padding:10px;
    width:100%;
    height: 500px;
    margin:auto;
    background-color:white;
}





@media screen and (max-width: 900px){
    .main-container{
        display: flex; 
        flex-direction: column;
    }
    .main-container > div:first-child{
        width: 100%;
    } 
    .main-container > div:nth-child(2){
        width: 100%;
        margin:0;
    } 
    .editor{
        width: 100%;
        margin: 5% 0% 5% 0%;
    }
    .main-container  #bottom button{
        background-color: #54a9ff;
        color:white;
        font-size:9px;
        padding:0;
        border-radius: 5px;
    }
    .left-tools-top button .tool-text{
        display:none;
    }
    
}



@keyframes moveRight{
    0%{
        transform: translateX(10px);
    }
    30%{
        transform: translateX(40px);
    }
    60%{
        transform: translateX(60px);
    }
    80%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes moveCenter{
    0%{
        opacity:0;
    }
    10%{
        transform: translateY(60px)
    }
    30%{
        transform: translateY(-40px);
    }
    60%{
        transform: translateY(-10px);
    }
    80%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}